@import '../../consts.scss';

.container {
  height: 100%;
  display: flex;
  gap: 40px;
}

.middle {
  display: flex;
  flex-direction: column;
  gap: 35px;
  height: 100%;
  width: 30%;
}

.chat-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 30px 20px;
  gap: 20px;
  overflow: auto;
}

.chat {
  display: flex;
  align-items: center;
  gap: 30px;
  height: 80px;
  background-color: transparent;
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid $separator-color;
  transition: $transition;

  &__title {
    font-weight: 600;
    font-size: 2rem;
  }

  &__active {
    background-color: $purple;
    color: white;
    border-radius: $border-radius;
    border-color: transparent;
  }
}

.right {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 70%;
  padding: 30px 45px;
  gap: 40px;
}

.user-info {
  display: flex;
  height: 95px;
  border-bottom: 1px solid $separator-color;
  padding-bottom: 25px;
  gap: 25px;
  align-items: center;

  &__user-name {
    font-weight: 600;
    font-size: 3.2rem;
  }
}

.messages-wrapper {
  max-height: 100%;
  height: fit-content;
  margin-top: auto;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-right: 15px;
}

.message {
  background-color: $gray;
  border-radius: $border-radius;
  padding: 15px 40px;
  font-size: 2.6rem;
  width: fit-content;

  &__own {
    background-color: $purple;
    color: white;
    margin-left: auto;
  }

  &__time-stamp {
    color: #707070;
    font-size: 20px;
    font-weight: 300;

    &__own {
      margin-left: auto;
    }
  }
}

.text-area {
  display: flex;
  gap: 25px;

  &__input {
    background-color: #eff6fcde;
    font-weight: 300;
    font-size: 2.4rem;
    width: 100%;
    padding: 20px 30px;
    border-radius: $border-radius;
  }

  &__send {
    height: 100%;
    aspect-ratio: 1/1;
    background-color: $purple;
    border-radius: 20px;
    padding: 20px;
    color: white;
  }
}
