$purple: #6e00ff;
$winter-white: #eff6fc;
$gray: #e7e7e7;
$font-light: #7c7c7c;
$font: #333333;
$separator-color: #b4ababa8;

$shadow: 0px 4px 5px 2px #79c5ef61;

$border-radius: 25px;

$transition: 200ms all;
